
body {
    font-family: "ms ui gothic";
    font-size: 15px;
    background:black;
    color: white;
}

::selection {
color:blue;
background:black;
}

b a {
text-decoration: none;
    color:blue;
}

a {
    text-decoration: underline double;
    color:white;
    text-decoration-color: blue;
}

a:hover {
    font-style: italic;
}

h1 {
    color:white;
     text-align: center;
        font-family: "Genos", sans-serif;
        font-size: 3.5em;
        text-shadow:-8px 6px 0px blue, -20px 15px 0px #0000ff61;
}

h2 {
    margin:0;
    font-family: ;
    background: linear-gradient(90deg, blue 30%, transparent);
    padding: 5px;
    border-radius: 10px;
    font-style: italic;
    font-size: 25px;
    color:white;
}

h3 {
    margin:0;
    margin-bottom:5px;
    font-family: simsun;
    font-size:18px;
    padding-left:15px;
    font-style: italic;
}

h4 {
    margin:0;
    margin-bottom:5px;
    padding-left:15px;
    font-style: italic;
}

p {
    margin-top:0;
}

hr {
    background: linear-gradient(to left, transparent 0%, blue 63%);
    height: 3px;
    margin-block: 10px;
    border:0;
}

li {
    font-weight: bold;
}

aside {
    overflow: auto;
     padding:5px;
}

.structure {
    width:fit-content;
    margin-top:5vh;
    margin-left:auto;
    margin-right:auto;
}

.flex {
    display: flex;
    gap:5px;
}

header marquee {
    
}

main {
    box-shadow: inset 0px 0px 10px 10px black;
    padding: 25px;
    background:url(https://64.media.tumblr.com/444e97d1febe00cc2f109bb7649781cf/e54de9a1260de9b8-53/s1280x1920/10056140c22db32d40799dfbec309e782d3b8ec4.png);
    background-size: cover;
    width:745px;
}

.entry {
    border:1px solid blue;
    padding:10px;
    background:rgba(0, 0, 0, 0.85);
}

.date {
    background: linear-gradient(blue, black);
    color:white;
    display:block;
    padding:2px;
    text-decoration: none;
    font-weight: bold;
}

.weather {
    border:1px solid blue;
    margin-top:10px;
    background:rgba(0, 0, 0, 0.85);
}

.calendar-container {
    border:1px solid blue;
    margin-top:10px;
    background:rgba(0, 0, 0, 0.85);
}

.calendar-container ul {
    margin: 0;
    padding: .1em .2em .6em .2em;
    color: var(--text);
    background: var(--mainbg);
}

.calendar-container header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.calendar-navigation {
    word-spacing: .4em;
}
 
header .calendar-navigation span {
    cursor: pointer;
    user-select: none;
}
 
header .calendar-navigation span:hover {
    color: blue;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 9.6px;
    font-weight: normal;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    color: var(--darkblue);
    font-weight: 500;
    margin-bottom: -10px;
    text-transform: uppercase;
}
 
.calendar-body .calendar-dates li {
    margin-top: 1em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color: grey;
}
 
.calendar-dates li.active {
   font-weight: bold;
    color:blue;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
    background: var(--blue);
}
 
.calendar-dates li:not(.active):hover::before {
    background: rgba(170, 170, 170, 0.2);
}

.calendar-dates {
    margin: 0;
    padding: 0px;
    position: relative;
}

.calendar-header h4 {
    text-align: center;
   padding:0;
    font-size:18px;
    font-family: simsun;
}

 .home {
    color: black;
    z-index: 10;
    position: fixed;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    top: 4px;
    left: 5px;
    font-family: "ms ui gothic";
        font-size:15px;
}
    
    .home a {
        text-decoration: none;
        color:black;
}
    
    .home a:hover {
        font-style:italic;
}



#MyClockDisplay {
    text-align: center;
    padding-bottom:5px;
    font-size:13px;
}
